/* font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif; */
header{
    background: #264653;
}
.p-before-h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #FFFFFF;
}
.hero-h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #FFFFFF;
}
.p-after-h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #E0E0E0;
}
.button{
    background-color: #E76F51;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
}
.button:hover{
    color: #FFFFFF;
}
.dotted-bg{
    background-image: url(images/bg-dot.png);
    background-repeat: no-repeat;
    background-position: 437px 44px;
}
.section-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
}
h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #E76F51;
}
hr{
    width: 60px;
    color: #E76F51;
    border: 1px solid #E76F51;
}
.grayscale-image{
    filter: grayscale(100%);
}
.span-text-color{
    color: #E76F51;
}
.review-text{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.2px;
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}
.client-name{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #23A6F0;
}
.client-position{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #252B42;
}
.rating{
    color: #E77C40;
}
.accordion-it{
    border: 1px solid #D5E5FB;
    border-radius: 5px;
}
.accordion-question{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #383838;
}
.accordion-ans{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #7E848C;
}
.icon{
    font-size: 50px;
    color: #E76F51;;
}
.card-footer-custom button{
    background: #E76F51;
    background: linear-gradient(to left, #E76F51 50%, black 50%) right;
    color: #FFFFFF;
    border: none;
    height: 45px;
    background-size: 200%;
    transition: 0.5s ease-out;
}
.card-footer-custom button:hover{
    background-position: left;
}
.footer-bg-color{
    background-color: black;
}
footer a, p, h4{
    font-family: 'Manrope', sans-serif;
}